<template name="login">

    <section class="template-content" id="login-form">
        <h5 class="login-title"><i class="material-icons">perm_identity</i> <span class="text">Login</span></h5>
        <hr>
        <div id="login-dropdown-list" class="accounts-dialog open row">
            <div class="login-close-text-clear"></div>
            <div class="login-form login-password-form">
                <div id="login-email-label-and-input">
                    <label id="login-email-label" for="login-email">
                        Email
                    </label>
                    <input id="login-email" type="email" value="admin@admin.com" />
                </div>
                <div id="login-password-label-and-input">
                    <label id="login-password-label" for="login-password">
                        Password
                    </label>
                    <input id="login-password" type="password" class="validate" value="password" />
                </div>
                <div class="login-button login-button-form-submit" id="login-buttons-password">
                    <button id="click-to-login" class="btn waves-effect waves-light" type="submit" name="action">Sign In
                    </button>
                    <a href="/register" class="normal-link right" id="register-user">Register new account</a>
                </div>
            </div>
        </div>
    </section>
</template>