// ----------------------------------
// QUICK CONTROLS
// ----------------------------------


#main__content{

  div.fixed-action-btn{

    position: static;
    display: inline-block;
    margin-top: -40px;
    opacity: 0;

    &.enabled{
      opacity:1;
      //@include vend
    }


    ul{

      position: inherit;
      margin:-38px 40px 0 230px;

      li{
        display: inline-block;
      }
    }

  }

  .pagination{
    float:right;
    margin-top: -7px;
  }
  
  .settings__field{
    width: 150px;

    label{

      & .label__focus{
        font-size:1.2em;
      }

    }
  }
}

.quick{

  &__settings{

    margin-top: 0;

    li{

      display: inline-block;
      vertical-align: top;

      #search{

        margin: 0;
        height: 25px;

      }

    }

  }

}
