// ------------------------------
// LAYOUT / SHARED rules
// ------------------------------


// Page specific vars
$ringWidth: 100px;
$ringColor: #143754;

html, body{
  height: 100%;
}

body{

  @include display-flex(column);

}




.status{

  &--green{
    color: $status-ok;
  }

  &--red{
    color: $status-not-ok;
  }

  &--orange{
    color: $status-issue;
  }

  &__reloading{
    position: relative;
    left: 10px;
    i {
      position: absolute;
      top: -5px;
    }
  }

}

.ring{
  margin: 10px auto;
  @include ring($ringWidth, $ringColor);
}