// ------------------------------
// LAYOUT / SHARED rules
// ------------------------------


// Page specific vars
$ringWidth: 100px;
$ringColor: #143754;

html, body{
  height: 100%;
}

body{

  @include display-flex(column);

}

.welcome-page{

  background: url(https://unsplash.it/1200/800?image=941) no-repeat center center white;
  background-size: cover;

  & .row{

    width: 600px;

  }

}

.row.no-collapse{

  min-height: 75vh;

}

.status{

  &--green{
    color: $status-ok;
  }

  &--red{
    color: $status-not-ok;
  }

  &--orange{
    color: $status-issue;
  }

  &__reloading{
    position: relative;
    left: 10px;
    i {
      position: absolute;
      top: -5px;
    }
  }

}

.ring{
  margin: 10px auto;
  @include ring($ringWidth, $ringColor);
}