// ------------------------------
// LAYOUT / SHARED rules
// ------------------------------


// Page specific vars
$ringWidth: 100px;
$ringColor: #143754;
$sub-header-color: #797C80;
$sub-header-size: 1.345em;

html, body{
  height: 100%;
}

body{

  @include display-flex(column);

}

.welcome-page{

  background: url(/home1.jpeg) no-repeat center center white;
  background-size: cover;
  height: 100%;

  &__sub-header{
    margin-top: -15px;
    color: $sub-header-color;
    font-size: $sub-header-size;
  }

  &__btn{
    width: 90%;
  }

  & .row{

    max-width: 600px;

  }

}

.row.no-collapse{

  min-height: 50vh;

}

.status{

  &--green{
    color: $status-ok;
  }

  &--red{
    color: $status-not-ok;
  }

  &--orange{
    color: $status-issue;
  }

  &__reloading{
    position: relative;
    left: 10px;
    i {
      position: absolute;
      top: -5px;
    }
  }

}

.ring{
  margin: 10px auto;
  @include ring($ringWidth, $ringColor);
}