<template name="quickControls">
    <div class="row">
        <div class="quick__info col s12 m4 sl4">Total: {{endpointsCount.total}}
            <span class="status status--green">Up: {{endpointsCount.green}}</span>
            <span class="status status--red">Down: {{endpointsCount.red}}</span>
            <span class="status status--orange">Intermittent: {{endpointsCount.orange}}</span>
        </div>
        {{#if currentUser}}
            <div id="save__order" class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn btn-flat">
                    Save new order?
                </a>
                <ul>
                    <li><a id="yes-save" class="btn-floating green">YES</a></li>
                    <li><a id="no-save" class="btn-floating red">NO</a></li>
                </ul>
            </div>
        {{else}}
            <div id="save__order" class="fixed-action-btn horizontal click-to-toggle">
                <p>
                    <i class="card__reveal-more material-icons">info</i>
                    You need to login to save the new order.
                </p>
            </div>
        {{/if}}

        <!--PAGINATION-->
        <ul class="pagination">
            <li>



                <a href="#" class="pagination__control prev btn-flat
                {{#if isFirstPage}} disabled {{else}} {{/if}}">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
            </li>
            <li>
                <a href="#" class="pagination__control next btn-flat
                {{#if isLastPage}} disabled {{else}} {{/if}}">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </li>
        </ul>

    </div>
</template>