// --------------------------
// FOOTER RULES
// --------------------------


footer{
  flex:1;
  height: 100px;
  background: #2980B9;
  color: white;
  padding-top:15px;

  & .footer__text{

    margin: 0;
    
    a{

      color: darken(white, 20%);

      &:hover{
        text-decoration: underline;
      }

    }

  }
}