<template name="home">

    {{#if currentUser}}

        {{> pageTitle title="Endpoints"}}

        <div class="row no-collapse">

            <div id="main__content" class="col s12">

                {{#if equals endpointsCount.total 0}}
                    <p class="no__service-placeholder">No records here. <a href="/addServiceEndpoint">Try to create one</a></p>
                {{else}}
                    {{> quickControls}}

                    <div id="index-cards-holder" class="row cards__holder">
                        {{#each endpoints}}
                            {{> statusCard editMode=false}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>

    {{else}}

        {{> pageTitle title="Easy endpoint management"}}
        <h5 class="welcome-page__sub-header">Load your endpoints and monitor their availability.
            <br /> Easy like you're lying on the beach.
        </h5>

        <div class="row no-collapse">

            <div id="main__content" class="col s12">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <a href="/register" class="btn welcome-page__btn">Get Started</a>
                    </div>
                    <div class="col s12 m6 l6">
                        <a href="/login" class="btn welcome-page__btn">See demo</a>
                    </div>
                </div>
            </div>
        </div>

    {{/if}}



</template>