<template name="home">

    {{#if currentUser}}

        {{> pageTitle title="Endpoints"}}

        <div class="row no-collapse">

            <div id="main__content" class="col s12">

                {{#if equals endpointsCount.total 0}}
                    <p class="no__service-placeholder">No services here. <a href="/addServiceEndpoint">Try to create one</a></p>
                {{else}}
                    {{> quickControls}}

                    <div id="index-cards-holder" class="row cards__holder">
                        {{#each endpoints}}
                            {{> statusCard editMode=false}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>

    {{else}}

        {{> pageTitle title="Please login"}}

        <div class="row no-collapse">



            <div id="main__content" class="col s12">
                Once you log in, you'll be able to <strong>create and manage</strong> your endpoints list
            </div>
        </div>

    {{/if}}



</template>