<template name="home">

    {{> titleAndSearch}}

    <div class="row">
        <div id="main__content" class="col s12">
            <div class="row">
                <div class="quick__info">Total: {{endpointsCount.total}}
                    <span class="status status--green">Up: {{endpointsCount.green}}</span>
                    <span class="status status--red">Down: {{endpointsCount.red}}</span>
                    <span class="status status--orange">Intermittent: {{endpointsCount.orange}}</span>
                    {{#if currentlyReloading}}
                        <span class="status__reloading"><i class="material-icons rotating">cached</i></span>
                    {{/if}}
                </div>
            </div>
            <div class="row cards__holder">
                {{#if equals endpointsCount.total 0}}
                    <p class="no__service-placeholder">No services in this category. <a href="/addServiceEndpoint">Try to create one</a></p>
                {{else}}
                    {{#sortable items=endpoints handle=".dnd__handle" sortField="order" chosenClass="card-moving"}}
                        {{> statusCard editMode=false}}
                    {{/sortable}}
                {{/if}}
            </div>
        </div>
    </div>

</template>