// ----------------------------------
// HEADER RULES
// ----------------------------------


$search-bg: #359BB9;

.shc__logo{

  height: 47px;

}

.main-navbar{
  background-color: $header-blue;
}

h1{
  font-family: $powa-font;
}

.brand-logo{
  margin-left: 10px;
  font-family: $powa-font;
  img{
    margin-top: 8px;
  }
}

span.page-name{
  position: relative;
  left:-10px;
  top:-15px;
  font-size:0.7em;
}

header{
  padding:20px;
  &.inner-header{
    //float:left;
    //@include breakpoint(tbl){
      float:none;
      text-align: center;
    //}
  }
}

.search-bar{
  width: 30%;
  max-width: 500px;
  float: right;
  background: $button-teal;
  margin: 30px;
  right: 1%;
  position: absolute;
  @include breakpoint(tbl){
    float:none;
    position: static;
    width: 100%;
    .search-label{
      top:15px;
    }
  }
}

.rotating{
  animation: antiCW-rotating 0.8s linear infinite;
}
nav{

  ul{

    &#nav-mobile{
      height:100%;
      max-height:100%;
      li, a{
        height:100%;
      }
    }

    & li{
      &:hover, &:active{
        background-color: transparent;
      }
    }
  }
}
.main-navbar{

  ul{
    li.desktop-menu{
      &:hover, &:active{
        background-color: transparent;
      }
    }
  }

  .nav-wrapper{
    i{
      display:inline-block;
    }
    .link-text{
      margin-top: -70px;
      margin-left: 40px;
      display: block;
    }
  }

  .button-collapse{
    float:right;
  }

}

.search{

  &__field{

    display: inline-block;
    width:0;
    opacity: 0;

    &--expanded{

      width: auto;
      opacity: 1;

    }

  }

  &__input{
    background: $search-bg;

  }

}