// ----------------------------
// GLOBAL VARIABLES
// ----------------------------

@import url(http://static.powaweb.io/branding/fonts/din.css);
/* CSS declarations go here */
$powa-font: din-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-blue:#2980B9;
$status-ok:  #63a97a;
$status-issue: #f48543;
$status-not-ok: #D95D5D;

$button-teal: rgb(38, 166, 154);


//breakpoints
$breakpoint-up: 1200px !default;
$breakpoint-down: 1199px !default;
$breakpoint-st: 992px !default; // st == standard ?
$breakpoint-tbl: 610px !default;
//NOTE: extra breakpoint if needed
$breakpoint-ex: 480px !default;


.red{
  color: $status-not-ok;
}