
@import url(http://static.powaweb.io/branding/fonts/din.css);
/* CSS declarations go here */
$powa-font: din-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-blue: #2980b9;
$status-ok:  #63a97a;
$status-issue: #f48543;
$status-not-ok:#D95D5D;

$button-teal: rgb(38, 166, 154);