<template name="addServiceEndpoint">
    <header>
        <h4>Add Service Endpoint</h4>
    </header>

    <div class="row">
        <div class="upload col s12 option-section">
            <div class="split-wrapper">
                <h5>Option 1 - upload a JSON file</h5>
                <h6>The file needs to be called <span class="code">EP_DETAILS.json</span> and needs to have valid schema.</h6>
                <br/>
                <h6>NOTE: This process will not overwrite any existing records, it will simply add everything from the file to the
                database.</h6>
                <pre class="code">
[
  ...
  {
    url: 'http://example.com',
    name: 'My website',
    info: 'This is my website info',
    categories: ['Personal', '...'], // optional
    lastStatusCode: 200,             // optional
    status: 'green'                  // optional
  }
  ...
]
                </pre>
                {{> upload_bootstrap }}
            </div>
        </div>
        <div class="add-service-form col s12 option-section">
            <div class="split-wrapper">
                <h5>Option 2 - add the service information manually</h5>
                <h6>Please fill all the fields</h6>
                <form id="createNewService">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">public</i>
                            <input id="service_url" type="text" class="validate">
                            <label for="service_url">Service URL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">content_paste</i>
                            <input  id="service_name" type="text" class="validate">
                            <label for="service_name">Service Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">insert_comment</i>
                            <label class="static">Select a category</label>
                            <div class="categories__outerwrap">
                                {{#each catData}}
                                    <span>
                                        <input type="checkbox" id="{{name}}" class="category__checkbox" />
                                        <label for="{{name}}">{{name}}</label>
                                    </span>
                                {{/each}}
                            </div>
                            <div id="categories-selected" class="categories__selected">
                                <label class="static no-input">Selected: </label><em><span id="selected-list" class="selected__list"></span></em>
                            </div>
                            <a href="#" id="category__add-new">+ Add new Category</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <label for="service_info" class="textarea-label">Any additional information you would like to display about this service</label>
                            <textarea id="service_info" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <p><i class="material-icons prefix">info_outline</i> The new endpoint will be checked and added to the grid right away</p>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons">cloud_upload</i>Submit
                    </button>
                    <button id="clearForm" class="btn waves-effect waves-light right" name="reset">
                        <i class="material-icons">clear</i>Reset
                    </button>
                </form>
            </div>
        </div>

    </div>
</template>