<template name="addServiceEndpoint">
    <header>
        <h4>Add Service Endpoint</h4>
    </header>

    <div class="row">
        <div class="upload col s12 option-section">
            <div class="split-wrapper">
                <h5>Option 1 - upload a JSON file</h5>
                <h6>The file needs to be called <span class="code">EP_DETAILS.json</span> and needs to have valid schema.</h6>
                <br/>
                <h6>NOTE: This process will not overwrite any existing records, it will simply add everything from the file to the
                database.</h6>
                <pre class="code">
[
  ...
  {
    url: 'http://example.com',
    name: 'My website',
    info: 'This is my website info',
    category: 'Personal', // Beta - dynamically added 'Category' filters
    lastStatusCode: 200,  // optional
    status: 'green'       // optional
  }
  ...
]
                </pre>
                {{> upload_bootstrap }}
            </div>
        </div>
        <div class="add-service-form col s12 option-section">
            <div class="split-wrapper">
                <h5>Option 2 - add the service information manualy</h5>
                <h6>Please fill all the fields</h6>
                <form id="createNewService">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-info prefix"></i>
                            <input  id="service_name" type="text" class="validate">
                            <label for="service_name">Service Name</label>
                        </div>
                        <div class="input-field col s6">
                            <select id="service_category" class="validate">
                                <option value="" disabled selected>Choose your option</option>
                                {{#each catData}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                                <option value="create">Create category</option>
                            </select>
                            <label for="service_category">Service Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-social-public prefix"></i>
                            <input id="service_url" type="text" class="validate">
                            <label for="service_url">Service URL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix"></i>
                            <label for="service_info">Any additional information you would like to display about this service</label>
                            <textarea id="service_info" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <p><i class="material-icons">mode_comment</i> You don't need to add service status as it will be checked anyway</p>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons">cloud_upload</i>Submit
                    </button>
                    <button id="clearForm" class="btn waves-effect waves-light right" name="reset">
                        <i class="material-icons">clear</i>Reset
                    </button>
                </form>
            </div>
        </div>
    </div>

</template>