<template name="home">
    <header class="inner-header">
        <h4>Endpoins</h4>
    </header>
    <nav class="search-bar">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    {{! Comments can be one line
    <!--<div class="ring">-->

        <!--<div class="ring ring--middle">-->

            <!--<div class="ring ring--inner">-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->}}

    <div class="row">
        <div id="main__content" class="col s12">
            <div class="row">
                <div class="quick__info">Total: {{endpointsCount.total}}
                    <span class="status status--green">Up: {{endpointsCount.green}}</span>
                    <span class="status status--red">Down: {{endpointsCount.red}}</span>
                    <span class="status status--orange">Intermittent: {{endpointsCount.orange}}</span>
                </div>
            </div>
            <div class="row cards__holder">
                {{#if equals endpointsCount 0}}
                    <p class="no__service-placeholder">No services in this category...</p>
                {{else}}
                    {{#sortable items=endpoints handle=".dnd__handle" sortField="order" chosenClass="card-moving"}}
                        {{> statusCard editMode=false}}
                    {{/sortable}}
                {{/if}}
            </div>
        </div>
    </div>

</template>