<head>
    <title>Service Health Check</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<template name="mainLayout">

    {{> header}}

    <section class="container-fullwidth
        {{#unless currentUser}}
            {{#if equals currentRouteName 'home'}}
                welcome-page center
            {{/if}}
        {{/unless}}
    ">

        {{> yield}}

    </section>

    <section class="footer__outer__wrapper">

        {{> footer}}

    </section>

</template>
