<template name="editServicesGrid">

    {{> titleAndSearch}}

    <div class="row">
        <div id="main__content" class="col s12">
            <div class="row">
                <div class="quick__info col s12 m4 sl4">Total: {{endpointsCount.total}}
                    <span class="status status--green">Up: {{endpointsCount.green}}</span>
                    <span class="status status--red">Down: {{endpointsCount.red}}</span>
                    <span class="status status--orange">Intermittent: {{endpointsCount.orange}}</span>
                </div>
                {{#if currentUser}}
                    <div id="save__order" class="fixed-action-btn horizontal click-to-toggle">
                        <a class="btn btn-flat">
                            Save new order?
                        </a>
                        <ul>
                            <li><a id="yes-save" class="btn-floating green">YES</a></li>
                            <li><a id="no-save" class="btn-floating red">NO</a></li>
                        </ul>
                    </div>
                {{/if}}
            </div>
            <div id="edit-cards-holder" class="row cards__holder">
                {{#if equals endpointsCount.total 0}}
                    <p class="no__service-placeholder">No services in this category. <a href="/addServiceEndpoint">Try to create one</a></p>
                {{else}}
                    {{#each endpoints}}
                        {{> statusCard editMode=true}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{#unless equals endpointsCount.total 0}}
        <div class="row split-wrapper">
            <h5>Delete all endpoints</h5>
            <button id="reset-db" class="btn waves-effect waves-light left red" name="reset">
                <i class="material-icons">delete</i>DROP DB
            </button>
        </div>
    {{/unless}}
    <br />

</template>