<template name="editServicesGrid">

    {{> pageTitle title="Edit endpoints"}}

    <div class="row no-collapse">
        <div id="main__content" class="col s12">

            {{#if equals endpointsCount.total 0}}
                <p class="no__service-placeholder">No services here. <a href="/addServiceEndpoint">Try to create one</a></p>
            {{else}}
                {{> quickControls}}

                <div id="index-cards-holder" class="row cards__holder">
                    {{#each endpoints}}
                        {{> statusCard editMode=true}}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>

</template>