<template name="editServicesGrid">

    {{> titleAndSearch}}

    <div class="row">
        <div id="main__content" class="col s12">
            <div class="row">
                <div class="quick__info">Total: {{endpointsCount.total}}
                    <span class="status status--green">Up: {{endpointsCount.green}}</span>
                    <span class="status status--red">Down: {{endpointsCount.red}}</span>
                    <span class="status status--orange">Intermittent: {{endpointsCount.orange}}</span>
                </div>
            </div>
            <div class="row cards__holder">
                {{#if equals endpointsCount.total 0}}
                    <p class="no__service-placeholder">No services in this category. <a href="/addServiceEndpoint">Try to create one</a></p>
                {{else}}
                    {{#sortable items=endpoints handle=".dnd__handle" sortField="order" chosenClass="card-moving"}}
                        {{> statusCard editMode=true}}
                    {{/sortable}}
                {{/if}}
            </div>
        </div>
    </div>
    {{#unless equals endpointsCount.total 0}}
        <div class="row split-wrapper">
            <h5>Delete all endpoints</h5>
            <button id="reset-db" class="btn waves-effect waves-light left red" name="reset">
                <i class="material-icons">delete</i>DROP DB
            </button>
        </div>
    {{/unless}}
    <br />

</template>