<template name="statusCard">
    <div class="col s12 m6 l6 card-wrapper">
        <div data-itemid="{{_id}}" class="card service-card
            {{#if equals status 'red'}}
                card-fail
            {{else}}
                {{#if equals status 'green'}}
                    card-success
                {{else}}
                    card-issue
                {{/if}}
            {{/if}}">
            <div class="card-content">
                <div class="card-title activator">
                    <span class="service__name activator">
                        <a href="{{url}}" class="service__link" target="_blank">
                            #{{order}} - {{name}}
                        </a>
                    </span>
                    <br />
                    <span class="status {{#if equals lastStatusCode 200}} status__ok {{else}} status__not-ok {{/if}} activator">
                        LATEST STATUS <span class="status__code">{{lastStatusCode}}</span>
                    </span><br />
                    <span class="timestamp activator">less than minute ago</span>
                    <i class="card__reveal-more material-icons">info</i>
                    <i class="dnd__handle  material-icons">reorder</i>
                    <br />
                    <span class="status-display activator">
                        {{#if equals status 'red'}}
                            <i class="small material-icons">error</i>
                        {{else}}
                            {{#if equals status 'green'}}
                                <i class="small material-icons">done</i>
                            {{else}}
                                <i class="small material-icons">warning</i>
                            {{/if}}
                        {{/if}}
                    </span>
                </div>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{url}} <i class="card__reveal-close material-icons">clear</i></span>
                <p>{{info}}</p>
            </div>
        </div>
    </div>
</template>