<template name="statusCard">
    <div class="card__wrapper" data-order="{{../order}}">
        <div data-itemid="{{../_id}}" class="card status-card
            {{#if equals ../status 'red'}}
                card--fail
            {{else}}
                {{#if equals ../status 'green'}}
                    card--success
                {{else}}
                    card--issue
                {{/if}}
            {{/if}}">
            <div class="card__content">
                <ul class="card__controls">
                    {{#if editMode}}
                        {{#if currentUser}}
                            <li>
                                <a class="modal-trigger card__control" href="#edit-service-form">
                                    <i class="card__reveal-more material-icons">mode_edit</i>
                                </a>
                            </li>
                        {{/if}}
                    {{/if}}
                    <li>
                        <a href="#" class="card__control card__reload">
                            <i class="material-icons">cached</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="card__control dnd__handle">
                            <i class="material-icons">shuffle</i>
                        </a>
                    </li>
                </ul>
                <div class="card__title activator">
                    <span class="service__name activator">
                        <a href="{{../url}}" class="service__link" target="_blank">
                            {{../name}}
                        </a>
                    </span>
                    <br />
                    <span class="service__status {{#if equals ../lastStatusCode 200}} status__ok {{else}} status__not-ok {{/if}} activator">
                        LATEST STATUS <span class="service__status__code activator">{{../lastStatusCode}}</span>
                    </span><br />
                    <span class="service__timestamp">less than minute ago
                        <a class="service__timestamp__more-info activator"> More info</a>
                    </span>
                    <br />
                </div>
            </div>

            <div class="card__reveal card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <a class="inline" href="{{../url}}" target="_blank">{{../url}}</a>
                    <i class="card__reveal--close material-icons">clear</i>
                </span>
                <p>
                    {{#if equals ../status 'red'}}
                        This host is unreachable or there is no internet connection
                    {{else}}
                        {{#if equals ../status 'orange'}}
                            There was some issues with this URL the last time it was called
                        {{else}}
                            {{../info}}
                        {{/if}}
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
</template>