/* Import the necessary components here */

.cards__holder{
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  .card__wrapper{

    flex-grow: 1;
    width: 31%;
    margin: 0.5%;
    opacity:0;

  }

}

#main__content{
  margin-top: 50px;
}

.modal.bottom-sheet{
  max-height:75%;
}
.fs-large{
  font-size: 2em;
}

.btn{
  .material-icons{
    position: relative;
    top: 3px;
    left: -10px;
  }
}

.code{
  background-color: rgb(242, 242, 236);
  padding: 7px;
  border-radius: 5px;
}
.search-bar{
  width: 30%;
  max-width: 500px;
  float: right;
  background: $button-teal;
  margin: 30px;
  right: 1%;
  position: absolute;
}


.no__service-placeholder{
  text-align:center;
  margin: 30px;
}

//TODO Optimize this styles

.tabs{
  margin-bottom: 20px;
  .tab{
    a{
      color: $header-blue;
      &:hover{
        color: lighten($header-blue, 20%);
      }
    }
  }
  .indicator{
    background-color: $header-blue;
  }
}


.card-wrapper{

  &.card-moving{
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    padding:0;

    .card{
      -webkit-box-shadow: 0 0 10px 0 black;
      -moz-box-shadow: 0 0 10px 0 black;
      box-shadow: 0 0 10px 0 black;    }
  }

}

.service__link{
  position: relative;
  padding-left:30px;
}

.service-card{
  height:120px;
  &.card-success{
    background: $status-ok;
  }
  &.card-issue{
    background: $status-issue;
  }
  &.card-fail{
    background: $status-not-ok;
  }
  .card-image{
    .endpoint__url{
      position: absolute;
      top: 10px;
      left: 0;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 2em;
    }
  }
  .card-content{
    color: white!important;
    .status-display{
      cursor: pointer;
      font-size: 0.6em;
      vertical-align: middle;
      position: absolute;
      left: 0;
      i{
        font-size: 2.3em;
      }
      .color-code{
        display:none;
      }
    }
    .card-title{
      font-size: 16px;
      line-height: 25px;
      .status__code{
        font-weight:500;
        font-size: 1.3rem;
      }
      .service__name{
        font-size: 1.3rem;
        font-weight: 400;
        a{
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .card__endpoint-url{
        font-weight:600;
        color:$header-blue;
      }

    }
    .timestamp{
      font-style: italic;
      .card-more-info{

        color: white;
        text-decoration: underline;
        padding: 3px 0 3px 15px;
        font-size:0.8em;

        &:hover{

            color: darken(white, 10%);

        }

      }
    }
    .card__reveal-more{
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 30px;
      &:hover{
        color: darken(white, 20%);
      }
    }
    .dnd__handle{

      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover{
        color: darken(white, 20%);
      }
    }
    .status__card-edit{
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 30px;
      color: white;
      &:hover{
        color: darken(white, 20%);
      }
    }
  }
  .card-reveal{
    .card-title{
      font-size:1rem;
      .card__reveal-close{
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        &:hover{
          border: 1px solid black;
        }
      }
    }
  }
}

.delete__service{
  margin-top: -70px;
  button{
    background: $status-not-ok;
    &:hover{
      background: lighten($status-not-ok, 10%);
    }
  }
}