// -----------------------------------
// CARDS GRIND AND SINGLE CARD STYLES
// -----------------------------------

// Rules used once
#main__content{
  margin-top: 50px;
}
.modal.bottom-sheet{
  max-height:75%;
}
.fs-large{
  font-size: 2em;
}
.btn{
  .material-icons{
    position: relative;
    top: 3px;
    left: -10px;
  }
}
.code{
  background-color: rgb(242, 242, 236);
  padding: 7px;
  border-radius: 5px;
}
.no__service-placeholder{
  text-align:center;
  margin: 30px;
}
.delete__service{
  margin-top: -70px;
  button{
    background: $status-not-ok;
    &:hover{
      background: lighten($status-not-ok, 10%);
    }
  }
}

// Tabs styles
// Not being used
//
//.tabs{
//  margin-bottom: 20px;
//  .tab{
//    a{
//      color: $header-blue;
//      &:hover{
//        color: lighten($header-blue, 20%);
//      }
//    }
//  }
//  .indicator{
//    background-color: $header-blue;
//  }
//}


// GRID
.cards__holder{

  @include display-flex(row);

}

// SINGLE CARD
.card{
  height:120px;

  &__wrapper{

    flex-grow: 1;
    width: 31%;
    margin: 0.5%;
    //opacity:0;

    @include breakpoint(st){
      width: 48.5%;
    }

    @include breakpoint(tbl){
      width: 99%;
    }

    &.card-moving{
      transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      padding:0;

      .card{
        -webkit-box-shadow: 0 0 10px 0 black;
        -moz-box-shadow: 0 0 10px 0 black;
        box-shadow: 0 0 10px 0 black;    }
    }
  }

  &__controls{
    position: absolute;
    top:-7px;
    right: 5px;
    a{
      color: white;
      &:hover{
        color: darken(white, 15%);
      }
    }
    li{
      display:inline-block;
      margin-left:5px;
    }
  }

  &__content{
    padding:20px;
    color: white!important;
    .service{
      &__timestamp{
        font-style: italic;
        &__more-info{

          color: white;
          text-decoration: underline;
          padding: 3px 0 3px 15px;
          font-size:0.8em;

          &:hover{

            color: darken(white, 10%);

          }

        }
      }
      &__status__code{
        font-style: bold;
        font-size: 1.7rem;
      }
      &__link{
        position: relative;
      }
      &__name{
        font-size: 1.3rem;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
        display: inline-block;
        overflow: hidden;
        a{
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__reveal{
      .card-title{
        font-size:1rem;
      }
      &--close{
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        &:hover{
          border: 1px solid black;
        }
      }
  }

  &--success{
    background: $status-ok;
  }
  &--issue{
    background: $status-issue;
  }
  &--fail{
    background: $status-not-ok;
  }
  &__title{
    font-size: 16px;
    line-height: 25px;
  }
}
