// ------------------------------
// ADD SERVICE
// -------------------------------

#uploadJSON{

  border-style: dashed;
  margin-top: 15px;
  
  p{

    font-size: 2.5em;
    color: $text-subtle-gray;
    margin-bottom: 0;
  }
  
}

.option-section:not(:first-child){
  margin-top: 50px;

}

.split-wrapper{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  .upload-control{
    border-top: 1px dashed $button-teal;
    border-bottom: 1px dashed $button-teal;
    height: 40px;
  }
  .progress-label{
    span{
      color: $button-teal!important;
    }
  }
}

#new_category_row{

  border: 1px dashed;

  .input-field{

    p{
      margin: 0;

      label{
        margin-left: 0;
      }

      &:first-child{
        margin-top: -15px;
      }
    }
    button{
      margin: 12px 0 0 15px;
    }

    &#checkboxes-holder{
      padding-left: 40px;
    }

  }
}

#categories-selected{
  margin: 20px 50px 0;
  label.static.no-input{
    margin-left:0;
  }
  span{
    margin:0 10px;
  }
}

#category__add-new{
  margin: 10px 50px;
  display: inline-block;
}

#createNewService{

  .input-field{

    .select-wrapper{
      option{
        padding-left:5px;
      }
    }

    input, textarea{
      background: #F3F3F3;
      border-radius: 3px;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 90%;
    }

    textarea{
      min-height:70px;
    }

    label{
      margin-left:3.5rem;
      &.active{
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        -o-transform: translateY(-150%);
        transform: translateY(-150%);
      }

      &.static{
        position: static;
      }

      &.textarea-label.active{
        color: $button-teal;
      }

      &.select-label{

        margin-left:0.5rem;
      }
    }
  }

  .radio__wrapper{
    display: inline-block;
  }

  .block{
    display: block;
  }
}